<div class="container">
  <h1 style="color: coral;">Atacadão</h1>

  <section>
    <h2>Cadastrar Funcionário</h2>

    <label>Nome:</label><br>
    <input [(ngModel)]="novoFuncionario.nome" placeholder="Nome do funcionário" /><br><br>

    <label>Posto (Cargo):</label><br>
    <select [(ngModel)]="novoFuncionario.posto">
      <option value="">Selecione um posto</option>
      @for (posto of funcService.postos; track posto.id) {
        <option [value]="posto.nome">{{ posto.nome }} — R$ {{ posto.salario | number:'1.2-2' }}</option>
      }
    </select><br><br>

    <label>Polo:</label><br>
    <select [(ngModel)]="novoFuncionario.polo">
      <option value="">Selecione um polo</option>
      @for (polo of funcService.polos; track polo.id) {
        <option [value]="polo.nome">{{ polo.nome }}</option>
      }
    </select><br><br>

    <button (click)="cadastrar()">Cadastrar</button>
  </section>
</div>